.calendar-layout {
  display: flex;
  font-family: sans-serif;
  border-radius: 16px;
  overflow: hidden;
  border: 1px solid rgba(240, 240, 240, 1);
}

.fixed-column {
  min-width: 220px;
  flex-shrink: 0;
}

.fixed-cell {
  padding: 8px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  height: 60px;
  width: 300px;
  background-color: #fff;
}

.scroll-wrapper {
  overflow-x: auto;
  width: 100%;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
}

.month-labels {
  display: flex;
}

.month-label {
  width: 60px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  color: #2196f3;
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
}

.days-row,
.data-row {
  display: flex;
}

.day-header,
.data-cell {
  width: 90px;
  text-align: center;
  padding: 6px;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  box-sizing: border-box;
  min-width: 60px;
  height: 60px;
  display: flex;
  min-width: 90px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.day-header {
  background: #f9f9f9;
  /* font-weight: bold; */
}

.today {
  /* background: #fff3cd !important; */
}

.unavailable {
  color: red;
  font-weight: bold;
}

.month-header-sticky {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 3;
  background: #f9f9f9;
  font-weight: bold;
  font-size: 18px;
  /* padding: 10px; */
  color: #333;
  border-bottom: 1px solid #ddd;
  /* border-right: 1px solid #ccc; */
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 0 10px;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background: #fff;
  border-left: 1px solid #ccc;
  padding: 20px;
  box-shadow: -2px 0 8px rgba(0,0,0,0.05);
  display: none;
  overflow-y: auto;
  z-index: 2000;
}

.sidebar h3 {
  margin-top: 0;
  font-size: 18px;
}

.sidebar h4 {
  margin: 16px 0 8px;
  font-size: 16px;
}

.sidebar h5 {
  margin: 12px 0 6px;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}

.form-group {
  margin-bottom: 12px;
}

.form-group label {
  display: block;
  margin-bottom: 7px;
  font-weight: 400;
  font-size: 14px;
  color: #666;
}

.tariff_price {
  width: 100%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background: #fff;
}
.sidebar-close {
  position: absolute;
  top: 10px;
  right: 12px;
  background: none;
  border: none;
  font-size: 24px;
  line-height: 1;
  cursor: pointer;
  color: #888;
}
.sidebar-close:hover {
  color: #000;
}
.room_cell{
  cursor: pointer;
}

.sidebar_date_grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.sidebar_tariff_grid{
display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
.tariff-form-group{
display:none;
}
.data-cell.data_room_amount {
    background-color: rgba(241, 250, 241, 1);
}
.data-cell.room_cell.data_price_set {
    background-color: rgba(241, 250, 241, 1);
}
.data-row:nth-of-type(1) .data-cell {
    border-left: none;
}
.day-header.today {
    background-color: rgba(250, 237, 206, 1);
}
div#sidebar-details input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 12px;
    background: #fff;
    box-shadow: none;
    height: 40px;
}
#sidebar-details{
  margin-top:20px;
}